html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  color: #ffffff;
  background-color: #111111;
  height: 100vh;
  width: 100%;
  min-height: 600px;
  position: absolute;
}

.content {
  margin-left: 8%;
  width: 100%;
  height: 100%;
}

.logo {
  margin-top: 40px;
  margin-left: 40px;
  padding-bottom: 200px;
}

img {
  height: 48px;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.stripe {
  height: 8px;
  width: 40px;
  background-color: #ffaa00;
}

.main-text {
  padding-top: 24px;
  line-height: 60px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 56px;
  color: #ffaa00;
  font-weight: 900;
}

.secondary-text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
  color: rgba(255, 255, 255, 0.2);
  font-weight: 300;
  padding-top: 24px;
  width: 100%;
}

.copyright {
  color: rgba(255, 255, 255, 0.2);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin-left: 40px;
  position: absolute;
  bottom: 5%;
}

canvas {
  
  position: absolute;
  /* top: 100px; */
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: none;
  overflow: hidden;
}


/* MEDIA QUERIES */

/* IPHONE 5/SE */

@media screen
and (min-width: 320px)
and (max-width: 568px)
and (orientation: portrait) {

  body {
    color: #ffffff;
    background-color: #111111;
    height: 100vh;
    width: auto;
    position: absolute;
    min-height: 0px;
    background-image: url('./img/Abstract-Nodes-15.png');
    background-size: 1200px 1200px;
  }
  
  .content {
    margin-left: 8%;
    width: 100%;
    height: 300px;
  }

  .logo {
    margin-left: 24px;
    margin-top: 24px;
    padding-bottom: 106px;
  }
  
  .main-text {
    padding-top: 24px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    color: #ffaa00;
    font-weight: 900;
  }

  .main-text p span::before {
    content: "\A";
    white-space: pre;
  }

  .secondary-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 300;
    padding-top: 24px;
    width: 100%;
  }

  .copyright {
    color: rgba(255, 255, 255, 0.2);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 10px;
    margin-left: 24px;
    position: absolute;
    bottom: 4%;
  }

  canvas {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }

}


@media screen 
and (min-width: 360px)
and (max-width: 640px)
and (orientation: portrait)  {

  canvas {
    display: none;
  }

}


/* IPHONE 6 / 7 / 8 */

@media screen 
and (min-width: 375px)
and (max-width: 667px)
and (orientation: portrait) {

  body {
    color: #ffffff;
    background-color: #111111;
    height: 100vh;
    width: auto;
    position: absolute;
    min-height: 0px;
    background-image: url('./img/Abstract-Nodes-15.png');
    background-size: 1400px 1400px;
  }

}

/* IPHONE X */

@media only screen 
and (min-width : 375px) 
and (max-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {

  body {
    color: #ffffff;
    background-color: #111111;
    height: 100vh;
    width: auto;
    position: absolute;
    min-height: 0px;
    background-image: url('./img/Abstract-Nodes-15.png');
    background-size: 1500px 1500px;
  }

}

/* LANDSCAPE */

@media only screen
and (max-height: 414px)
and (orientation: landscape) {

  body {
    min-height: 0;
    /* overflow: hidden; */
    /* width: auto; */
    height: auto;
    position: absolute;
    background-image: url('./img/Abstract-Nodes-15.png');
    background-size: 1000px 1000px;
  }

  .content {
    margin-left: 24px;
    width: auto;
    height: 200px;
  }

  .logo {
    margin-left: 24px;
    margin-top: 24px;
    padding-bottom: 30px;
  }

  .secondary-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 300;
    padding-top: 12px;
    width: 100%;
  }

  .copyright {
    color: rgba(255, 255, 255, 0.2);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 10px;
    top: 16%;
    bottom: 0px;
    right: 0%;
    position: absolute;
    height: 10px;
    width: 65px;
    margin: 0;
    transform: rotate(90deg);
  }

  canvas {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }
}

@media only screen
and (max-height: 375px)
and (orientation: landscape) {

  canvas {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }
}

@media only screen
and (max-height: 360px)
and (orientation: landscape) {
  canvas {
    display: none;
    width: 0 !important;
    height: 0 !important;
  }
}



/* MIN HEIGHTS */

@media only screen
and (min-height: 731px) {

}

@media only screen
and (min-height: 812px) {

}

@media only screen
and (min-height: 823px)
and (orientation: portrait) {

}

@media only screen
and (min-height: 768px) {

}

@media only screen
and (min-height: 900px) {

}

@media only screen
and (min-height: 1024px) {

}


@media only screen
and (min-height: 1366px) {

}

@media only screen
and (min-width: 240px)
and (max-width: 1366px) {

}



